## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mahuva,IN,2021-08-22 01:32:49,21.0914,71.7622,77.52,85,99,6.33,overcast clouds
1,1,Mataura,NZ,2021-08-22 01:31:15,-46.1927,168.8643,60.48,59,50,7.52,scattered clouds
2,2,Busselton,AU,2021-08-22 01:31:23,-33.6500,115.3333,53.04,63,99,8.48,overcast clouds
3,3,Prince Rupert,CA,2021-08-22 01:30:15,54.3161,-130.3201,58.69,82,75,4.61,broken clouds
4,4,Longyearbyen,SJ,2021-08-22 01:28:10,78.2186,15.6401,40.84,70,75,3.44,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.tail()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
686,686,Eyl,SO,2021-08-22 01:35:36,7.9803,49.8164,76.95,80,86,18.10,overcast clouds
687,687,Satana,IN,2021-08-22 01:35:36,20.5833,74.2000,72.66,91,100,3.27,overcast clouds
688,688,Badvel,IN,2021-08-22 01:35:37,14.7500,79.0500,79.77,67,44,1.88,scattered clouds
689,689,Bembereke,BJ,2021-08-22 01:35:37,10.2283,2.6634,68.97,99,83,3.29,broken clouds
690,690,Khandyga,RU,2021-08-22 01:35:37,62.6667,135.6000,72.43,76,100,2.15,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows
preferred_cities_df.isnull().sum()
#preferred_cities_df.notnull().sum()
#preferred_cities_df.count()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows. This is an unecessary step based on 4a.
# preferred_cities_df = preferred_cities_df.dropna()
# preferred_cities_df.tail()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mahuva,IN,77.52,overcast clouds,21.0914,71.7622,
6,Bousso,TD,72.30,overcast clouds,10.4795,16.7117,
7,Mahebourg,MU,66.25,few clouds,-20.4081,57.7000,
13,Saint-Philippe,RE,69.39,clear sky,-21.3585,55.7679,
16,Hervey Bay,AU,75.31,clear sky,-25.2986,152.8535,
17,Scobinti,RO,67.68,light rain,47.3833,26.9333,
18,Ribeira Grande,PT,74.23,overcast clouds,38.5167,-28.7000,
20,Qujing,CN,70.14,overcast clouds,25.4833,103.7833,
21,Rikitea,PF,68.68,scattered clouds,-23.1203,-134.9692,
23,Kuliyapitiya,LK,76.68,overcast clouds,7.4688,80.0401,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 6g. My sanity check - display hotel dataframe. 
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mahuva,IN,77.52,overcast clouds,21.0914,71.7622,Hotel Blue Diamond.
6,Bousso,TD,72.30,overcast clouds,10.4795,16.7117,
7,Mahebourg,MU,66.25,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
13,Saint-Philippe,RE,69.39,clear sky,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
16,Hervey Bay,AU,75.31,clear sky,-25.2986,152.8535,Shelly Bay Resort

In [10]:
# 7a. My sanity check - How many rows in the hotel dataframe. (Not necessary to check)
hotel_df.count()

City                   292
Country                292
Max Temp               292
Current Description    292
Lat                    292
Lng                    292
Hotel Name             292
dtype: int64

In [11]:
# 7b. Drop the rows where there is no Hotel Name.
hotel_value_filter = hotel_df["Hotel Name"] != ""
clean_hotel_df = hotel_df[hotel_value_filter]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mahuva,IN,77.52,overcast clouds,21.0914,71.7622,Hotel Blue Diamond.
7,Mahebourg,MU,66.25,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
13,Saint-Philippe,RE,69.39,clear sky,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
16,Hervey Bay,AU,75.31,clear sky,-25.2986,152.8535,Shelly Bay Resort
17,Scobinti,RO,67.68,light rain,47.3833,26.9333,Loc fără semnal Digi

In [12]:
# 7c. My sanity check - How many rows in the clean hotel dataframe. (Not necessary to check)
clean_hotel_df.count()

City                   267
Country                267
Max Temp               267
Current Description    267
Lat                    267
Lng                    267
Hotel Name             267
dtype: int64

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))